#Members{    
    width: 96%;
    align-self:center; 
    margin-top: 15%;
}

table{
    margin: 0 auto;
    width: 100%;
    font-size: 2vh;
    border-collapse: collapse;
    background-color:#171513;
    
}

thead{
    text-align: center;
    color: white;
}

th{
    font-weight:300;
    font-size: 3vh;
}

tbody{
    text-align: left;
    color: rgba(255, 255, 255, 0.76);
}
th, td {
    padding:1vh;
    padding-left: 3vh;
}

td{
    font-size: 2.5vh;
}

tr:nth-child(even) {
    background-color:rgba(181, 181, 187, 0.13);
}

hr{
    margin-block-start: 0;
    margin-block-end: 0;
    border-color: yellow;
}

.warlock{
    color:#9482C9;
}

.warrior{
    color:#C79C6E;
}
.pal{
    color:#F58CBA;
}
.hunt{
    color:#ABD473;
}
.rogue{
    color:#FFF569;
}
.priest{
    color:#FFFFFF;
}
.dk{
    color:#C41F3B;
}
.sham{
    color:#0070DE;
}
.mage{
    color:#69CCF0;
}
.warlock{
    color:violet;
}
.monk{
    color: #00FF96;
}
.druid{
    color:#FF7D0A;
}
.dh{
    color:#A330C9	;
}